.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  outline: transparent;

  cursor: pointer;

  transition: fill var(--fast-anim);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}