.send {
  display: flex;
  justify-content: center;
}

.modal-form__send-btn {
  min-width: 200px;
  min-height: 50px;
  padding: 0px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--fast-anim);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--hover-bg-color);
  }
}