.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(mobile-only) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @include mq(tablet-only) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @include mq(desktop) {
    flex-wrap: nowrap;
    margin: -15px;
  }
}

.clients__item {
  @include mq(mobile-only) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @include mq(tablet-only) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  @include mq(desktop) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 92px;

  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color var(--fast-anim);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.clients__icon {
  fill: currentColor;
  transition: fill var(--fast-anim);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
