.feature-container {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feature__list {
  @include mq(mobile-only) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @include mq(tablet) {
    width: 354px;

    margin-bottom: 30px;
    margin-right: 30px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &::nth-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include mq(desktop) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.feature__item {
}

.feature__box {
  @include mq(mobile) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 120px;

    margin-bottom: 30px;

    background-color: var(--secondary-bg-color);
    border-radius: 4px;
  }
  @include mq(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 354px;
    height: 120px;

    margin-bottom: 30px;

    background-color: var(--secondary-bg-color);
    border-radius: 4px;
  }
  @include mq(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;

    margin-bottom: 30px;

    background-color: var(--secondary-bg-color);
    border-radius: 4px;
  }
}

.feature__title {
  @include mq(mobile) {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    color: var(--primary-text-color);
  }
  @include mq(tablet) {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;

    color: var(--primary-text-color);
  }
  @include mq(desktop) {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
  }
}

.feature__subtitle {
  @include mq(mobile) {
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  @include mq(desktop) {
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
