.feature-container {
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mq(desktop) {
    display: flex;
    justify-content: center;
  }
}

.feature__list {
  @include mq(mobile-only) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @include mq(tablet) {
    width: 354px;

    margin-bottom: 30px;
    margin-right: 30px;

    &:nth-child(even) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @include mq(desktop) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.feature__box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;

  @include mq(mobile) {
    width: 450px;
    height: 120px;
  }
  @include mq(tablet) {
    width: 354px;
    height: 120px;
  }
  @include mq(desktop) {
    width: 270px;
    height: 120px;
  }
}

.feature__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-text-color);

  @include mq(tablet) {
    text-align: left;
  }
  @include mq(desktop) {
    text-align: left;
  }
}

.feature__subtitle {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
