.hero {
  // *Mobile
  @include mq(mobile-only) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile-img/header-img-m.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobile-img/header-img-m@2x.jpg);
    }
  }

  // *Tablet
  @include mq(tablet-only) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet-img/header-img-t.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet-img/header-img-t@2x.jpg);
    }
  }

  // *Desktop
  @include mq(desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop-img/header-img-d.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop-img/header-img-d@2x.jpg);
    }
  }
  max-width: 1200px;
  margin: 0 auto;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: rgba(47, 48, 58, 0.4);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  // width: 696px;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
