.team-container {
  background-color: var(--secondary-bg-color);
  @include mq(mobile) {
    padding-top: 60px;
  }
  @include mq(tablet) {
    padding-top: 60px;
  }
  @include mq(desktop) {
    padding-top: 94px;
  }
}

.team__member {
  padding-top: 30px;
  padding-bottom: 30px;

  @include mq(mobile) {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  @include mq(tablet) {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

.team__list {
  @include mq(desktop) {
    display: flex;
    align-items: center;
  }
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.team__item {
  @include mq(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 450px;
  }

  @include mq(tablet-only) {
    width: 354px;
    margin-right: 30px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @include mq(desktop) {
    margin-right: 30px;

    width: 270px;

    &:last-child {
      margin-right: 0px;
    }
  }

  background-color: var(--main-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
