.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;

  transition: fill var(--fast-anim);

  &:hover,
  &:focus {
    fill: #2196f3;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.js-open-menu {
  margin-left: auto;
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;

  padding: 48px 40px;

  transform: translateX(100%);
  transition: transform var(--fast-anim);
}

.menu-container.is-open {
  transform: translateX(0);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.mobile-menu__nav-list {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color var(--fast-anim);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__contacts-item {
  margin-top: auto;
}

.mobile-menu__contacts-list {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 64px;
  }
}

.mobile-menu__contacts-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.mobile-menu__socials-item {
  display: flex;
  margin: -10px;
}

.mobile-menu__socials-list {
  &:not(:last-child) {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:last-child {
    padding-left: 10px;
  }
}

.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
