.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;

  transition: fill var(--fast-anim);

  &:hover,
  &:focus {
    fill: #2196f3;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.js-open-menu {
  margin-left: auto;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;

  padding: 48px 40px;

  transform: translateX(100%);
  transition: transform var(--fast-anim);
}

.menu-container.is-open {
  transform: translateX(0);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
