.footer {
  @include mq(desktop) {
    display: flex;
    padding: 60px 0px;
  }
  background-color: var(--hero-footer-bg-color);
}

.footer-container {
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    display: flex;
    align-items: baseline;
  }

  .logo-primary-footer {
    @include mq(mobile-only) {
      padding-top: 60px;
    }
    @include mq(tablet-only) {
      padding-left: 100px;
    }

    margin-bottom: 20px;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
  }

  .logo-secondary-footer {
    color: var(--secondary-text-color);
  }

  .footer-contacts {
    @include mq(mobile-only) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include mq(tablet-only) {
      padding-top: 60px;

      margin-right: 165px;
      margin-bottom: 60px;
    }

    @include mq(desktop) {
      margin-right: 70px;
    }
  }

  .footer-contacts__location {
    margin-bottom: 9px;
  }

  .footer-contacts__list {
    @include mq(tablet-only) {
      text-align: center;
      padding-left: 76px;
    }
  }

  .footer-contacts__item {
    @include mq(mobile-only) {
      margin-bottom: 9px;

      text-align: center;
    }

    @include mq(desktop) {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }

  .footer-contacts__location-link {
    margin-bottom: 9px;

    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
  }

  .footer-contacts__link {
    font-style: normal;

    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  .footer-socials {
    @include mq(mobile-only) {
      margin-top: 60px;
    }
    @include mq(tablet-only) {
      padding-top: 65px;
      padding-right: 89px;
      margin-left: auto;
    }
    @include mq(desktop) {
      margin-right: 93px;
    }
  }

  .footer-socials__title {
    @include mq(mobile-only) {
      text-align: center;
    }
    @include mq(tablet-only) {
      text-align: center;
    }
    padding-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;

    color: var(--secondary-text-color);
  }

  .footer-socials__list {
    @include mq(mobile-only) {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }
    @include mq(tablet-only) {
      display: flex;
      justify-content: center;
    }

    @include mq(desktop) {
      display: flex;
      justify-content: center;
    }
  }

  .footer-socials__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .footer-socials__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    color: var(--secondary-text-color);
    background-color: #44454e;
    border-radius: 50%;

    transition: color var(--fast-anim), background-color var(--fast-anim);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--main-bg-color);
    }
  }

  .footer-socials__icon {
    fill: currentColor;
  }

  .subscribe {
    @include mq(tablet-only) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .subscribe__form {
    @include mq(desktop) {
      display: inline-flex;
    }
  }

  .subscribe__title {
    @include mq(mobile-only) {
      text-align: center;
    }
    @include mq(tablet-only) {
      text-align: center;
    }
    @include mq(desktop) {
      text-align: left;
    }
    padding-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;

    color: var(--secondary-text-color);
  }

  .subscribe-text {
    padding-right: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    color: #ffffff;
  }

  .subscribe__email {
    @include mq(mobile-only) {
      width: 100%;
      max-width: 450px;
      margin-bottom: 20px;
    }
    @include mq(tablet-only) {
      min-width: 450px;
      margin-bottom: 20px;
    }
    @include mq(desktop) {
      min-width: 358px;

      margin-right: 12px;
      margin-bottom: 0;
    }

    padding: 15px 16px;
    height: 50px;

    color: var(--main-bg-color);
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
    border-radius: 4px;
    cursor: pointer;

    transition: border-color var(--fast-anim);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }

  .subscribe-btn-box {
    @include mq(mobile-only) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 60px;
    }
    @include mq(tablet-only) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 60px;
    }
  }

  .subscribe-btn {
    min-width: 200px;
    min-height: 50px;
    padding: 0px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--fast-anim);

    &:hover,
    &:focus {
      background-color: var(--hover-bg-color);
    }
  }
}
